<!DOCTYPE html>
<html lang='ja'>
  <head>
    <meta charset="utf-8">
    <title>トップ</title>
  </head>
  <body>
    <h2>Flask Web Tools</h2>
    <p>使いたい機能を選んでね</p>
        <ul>
            <li><a href="/upload">ファイルアップロード</a></li>
            <li><a href="/regression">単回帰グラフ</a></li>
            <li><a href="/predict">単回帰予測</a></li>
            <li><a href="/merge">ファイル結合</a></li>
            <li><a href="/download">ダウンロードファイル一覧</a></li>
            <li><a href="/description">使い方</a></li>
            <li><a href="/logout">ログアウト</a></li>
        </ul>
  </body>
</html>
